<h1>Apps</h1>

<table>
  <thead>
    <tr><th>Name</th><th>PID</th><th></th></tr>
  </thead>
  <tbody>
    <% for(var i=0; i<list.length; i++){ %>
      <tr>
        <td><%= list[i].name %></td>
        <td><%= list[i].pid %></td>
        <td>
          <% if (list[i].pid > 0){ %>
            <form method="post" action="/stop"><input type="hidden" name="name" value="<%= list[i].name  %>" /><input type="submit" value="stop" /></form>
          <% } else { %>
            <form method="post" action="/start"><input type="hidden" name="name" value="<%= list[i].name  %>" /><input type="submit" value="start" /></form>
          <% } %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<a href="/stats">Stats</a>
