<h1>Top Tags</h1>
<table>
  <thead>
    <tr><th>Tag</th><th>#</th></tr>
  </thead>
  <tbody>
    <% for(var i=0;i<topTags.length; i++){ %>
      <tr>
        <td><%= topTags[i][0] %></td>
        <td><%= topTags[i][1] %></td>
      </tr>
    <% } %>
</table>

<form method="get" action="/suggestions">
  <label>Search: </label>
  <input type="text" id="q" name="q" />
  <input type="submit" value="Search" />
</form>
<div id="suggestions"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
  jQuery('#q').keyup(function(){
    jQuery.get("/suggestions?q="+jQuery('#q').val(), function(data){
      $('#suggestions').text(data);
    });
  });
</script>
